<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Meetup">
    <parameter name="language" value="en"/>
    <test name="Login Success">
        <parameter name="appURL" value="http://semeetup.wordpress.com"/>
        <classes>
            <class name="com.tests.LoginTests">
                <methods>
                    <include name="logInUserSuccessfully"></include>


                </methods>
            </class>
            </classes>
    </test>

    <parameter name="language" value="en"/>
    <test name="Login Failure">
        <parameter name="appURL" value="http://semeetup.wordpress.com"/>
        <classes>
            <class name="com.tests.LoginTests">
                <methods>
                    <include name="logInUserError"></include>
                </methods>
            </class>
        </classes>
    </test>

</suite>